PORT=8000
MONGO_URI=mongodb+srv://adityakumar1886_db_user:<kwality@123>@cluster0.bqdp4db.mongodb.net
CORS_ORIGIN=*//* For production, replace the above CORS_ORIGIN with the actual domain of your frontend application, e.g., https://your-frontend-domain.com *//